.instructions {

    &__paragraph {
        color: white;
        margin: 2rem;
        padding: 3rem;
        font-size: 1.6rem;
        border: 20px white solid;
    }

    &__image {
        padding: 3rem;
        max-height: 35vh;
        border: 20px white solid;
        margin: 2rem 1rem;
    }
}