*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;

    @include respond(tab-land) {
        font-size: 80%;
    }

    @include respond(tab-port) {
        font-size: 70%;
    }

    @include respond(phone) {
        font-size: 60%;
    }
}

::selection {
    background-color: $background-color;
    color: $text-color-primary;
}

body {
    position: absolute;
    color: $text-color-secondary;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    //font-family: 'Abhaya Libre', serif;
    text-align: center;
}